/* Regole Generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
    line-height: 160%;
    font-size: 14px;
}

p,
a {
    font-size: 1.3rem;
}

.container {
    margin: 0 auto;
    width: 90%;

    /* Debug */
    min-height: 100px;
}

h2 {
    color: #0084fd;
    font-size: 4rem;
}

h3 {
    margin: 20px auto;
    font-size: 2rem;
}

.fa-solid.fa-bars {
    color: #ffff;
    font-size: 2rem;
}

.even {
    background-color: #9792e4;
}

footer {
    background-color: #333333;
}

img {
    width: 100%;
}

.col a {
    display: inline-block;
    margin-bottom: 30px;
    padding: 10px 50px;
    background-color: #0084fd;
    border-radius: 30px;
    color: #ffff;
    text-decoration: none;
    letter-spacing: 0.3rem;
    font-weight: 600;
}

.col p {
    margin: 20px auto;
    padding-bottom: 40px;
} 

section {
    margin-top: 50px;
    padding: 20px 0;
}

.col {
    margin-bottom: 20px;
    padding: 20px 20px 0px 20px;
    background-color: #ffff;
    border-radius: 20px;
    /* Debug */
    min-height: 250px;    
}
/* Regole header */


header {
    background-color: #0084fd;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Regole main */
/* Regole sezione funzioni */

.col h2 > i {
    font-size: 5rem;
    margin-bottom: 20px;
}


#funcion .col {
    text-align: center;
    background-color: #b5ddff;
}

#funcion .col:first-child {
    text-align: left;
}

#funcion p {
    font-weight: 600;
}

#funcion h2 {
    font-size: 2rem;
}




/* Sezione strategic planning */

.strategic .col:first-child {
    background-color: #9792e4;
    color: #ffff;
}

.strategic .col:last-child {
    background-color: #ffff;
    text-align: center;
}

.strategic .col a{
    padding: 10px 16px;
    border-radius: 100%;
    color: black;
}


.strategic h2 {
    font-size: 2.5rem;
    color: #ffff;
}

.strategic .col:last-child p{
    font-style: oblique;
}



/* Sezione Testimonial */
#testimonial .col {
    text-align: center;
}

#testimonial .col:not(:first-child) {
    background-color: #9792e4;
    color: #ffff;
    padding: 20px;
}


.wrappertestimonial {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

#testimonial img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}

#testimonial h3 {
    font-weight: 500;
}

#testimonial h2 {
    font-size: 2.7rem;
}


/* Sezione Benefits */

.benefit h2 {
    text-align: center;
    color:  #ffff;
    margin: 35px auto;
}

.benefit h1,
.benefit h4 {
    margin-top: 20px;
    color: #9792e4;
    
}

.benefit h1 {
    font-size: 4rem;
}

.benefit h4 {
    font-size: 2rem;
}

.benefit p {
    color: #9e9e9e;
}

/* Sezione about us */

#secinfo .col:last-child {
    color: #9792e4;
}

#secinfo .col:last-child{
    position: relative;
}

#secinfo .col:last-child a{
    padding: 10px 20px;
    
}

.fa-solid.fa-quote-left {
    position: absolute;
    top: 0;
    right: 25%;
    font-size: 100px;
}

#secinfo img {
    max-width: 75%;
    border-radius: 50%;
}

#secinfo a {
    letter-spacing: normal;
}

#secinfo p {
    line-height: 200%;
}

/* Sezione get started */

.end .container {
    text-align: center;
    color: #ffff;
}

.end .container a {
    display: block;
    max-width: 85%;
    margin: 15px auto;
    padding: 10px 50px;
    background-color: #ffff;
    border-radius: 30px;
    color: #0084fd;
    text-decoration: none;
    letter-spacing: 0.3rem;
}

.end span:first-child {
    color: #b6b1f6;
}

.end h2 {
    margin-top: 15px;
    color: #ffff;
}

.end h1 {
    margin: 20px auto;
    color: #fdc15f;
    font-size: 4rem;
}

/* Regole Footer */

footer .container {
    color: #ffff;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

footer p {
    margin-bottom: 40px;
    font-size: 12px;
}

/* MEDIA QUERY */
/* Media Query Tablet */

@media all and (min-width:768px) {

    #secinfo .container,
    .benefit .container,
    #funcion .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #funcion .col {
        width: calc((100% / 3) - 10px);
    }

    #funcion .col:first-child {
        width: calc((((100% / 3) - 10px) * 2) + 15px);
    }

    #secinfo .col,
    .benefit .col {
        width: calc(100% / 2 - 10px);
    }

    #testimonial .col:not(:first-child) {
        text-align: left;
        }
    
    .wrappertestimonial {
        float: left;
    }

    #testimonial .col:not(:first-child) h3,
    #testimonial .col:not(:first-child) p {
        margin-left: 250px;
    }

    #secinfo .col:first-child {
        width: 60%;
    }

    #secinfo .col:last-child {
        width: 40%;
    }
    
    .end .container a {
        max-width: 50%;
    }

    .strategic h3 {
        font-size: 2.5rem;
    }

}

/* Media query Desktop */

@media all and (min-width:1024px){
    .container {
        width: 75%;
    }

    .strategic .container {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }

    .strategic .col {
        width: calc(100% / 2 - 60px);
    }

    .benefit .col {
        width: calc(100% / 3 - 10px);
    }
    #secinfo .col:first-child {
        width: 70%;
    }

    #secinfo .col:last-child {
        width: 30%;
    }

    #funcion .container .col:first-child {
        display: flex;
        align-items: flex-end;

    }

}