/* Regole Generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 90%;

    /* Debug */
    min-height: 100px;
    background-color: purple;
}

nav {
    background-color: yellow;
}

.even {
    background-color: #9792e4;
}

footer {
    background-color: #333333;
}

/* Regole header */


header {
    background-color: #0084fd;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Regole main */
/* Regole sezione funzioni */

.col {
    margin-bottom: 20px;
    /* Debug */
    min-height: 250px;
    background-color: bisque;
}




/* MEDIA QUERY */
/* Tablet */

@media all and (min-width:768px) {

    #secinfo .container,
    .benefit .container,
    #funcion .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #funcion .col {
        width: calc((100% / 3) - 10px);
    }

    #funcion .col:first-child {
        width: calc((((100% / 3) - 10px) * 2) + 15px);
    }

    #secinfo .col,
    .benefit .col {
        width: calc(100% / 2 - 10px);
    }

}

@media all and (min-width:1024px){
    .container {
        width: 75%;
    }

    .strategic .container {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }

    .strategic .col {
        width: calc(100% / 2 - 60px);
    }

    .benefit .col {
        width: calc(100% / 3 - 10px);
    }
}